.table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 20px;
  margin: 20px;
}

table, th, td, button {
  border: 1px solid rgb(170, 170, 170);
  padding: 5px;
  height: fit-content;
}

.table tr:hover {
  background-color: rgb(233, 233, 233);
  cursor: grab;
}

.table-header {
  pointer-events: none;
}