.Error {
  display: flex;
  border: 1px;
  border-radius: 5px;
  border-color: #740e1e;
  background-color: #f9bbc4;
  height: fit-content;
  padding: 10px;
  width: max-content;
  color: #740e1e;
}

button {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  text-align: center;
  color: black;
}

button:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}